/* This removes the white space below the footer on tablet screens.
Source: https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b
from the user "vsync" (link to their profile: https://stackoverflow.com/users/104380/vsync).
*/

body{ height:100vh; margin:0; }

/* This controls the size of the footer on smaller screens. If I make this bigger, there will be less white space
on small screens. By using "media screen", and leaving a footer height of 54vh for screens up to 575px, all problems are
solved in Firefox: Dev Edition (including all of the screen sizes for all devices) and in Chrome. There is no excessive
blue space in the footer, and no white space below the footer. */
@media screen and (max-width: 575px) {
    footer {
        min-height: 54vh;
    }
}

/* This will make the footer sticky. */
body{
    display:flex;
    flex-direction:column;
}
/* End of the code that removes the white space below the footer on tablets. */

/* Cookie consent banner CSS. Taken from: https://github.com/Godsont/Cookie-Consent-Banner/edit/master/style.css */
/* I modified the CSS so that it only affects the Cookie consent banner, but the cookie consent banner's CSS is
 not being modified by this. It's being modified by Bootstrap. */
.cookie-container body {
    font-family: "Arial", sans-serif;
}

.cookie-container p {
    margin: 24px 0;
    line-height: 2;
}

.wrapper {
    padding: 32px;
}

.cookie-container {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background: #2f3640;
    color: #f5f6fa;
    padding: 0 32px;
    box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);

    transition: 400ms;
}

.cookie-container.active {
    bottom: 0;
}

.cookie-container a {
    color: #f5f6fa;
}


.cookie-btn {
    background: #e84118;
    border: 0;
    color: #f5f6fa;
    padding: 12px 48px;
    font-size: 18px;
    margin-bottom: 16px;
    border-radius: 8px;
    cursor: pointer;
}
/* End of CSS of the cookie consent banner. */

/* This modifies the CSS of the footer. */
footer {
    margin-top:auto;    /* This is the last line of code to use Flexbox to remove the white space below the footer. */

    /* I MAY NEED TO UNCOMMENT THIS IF THERE'S STILL WHITE SPACE BELOW THE FOOTER. */
    /*margin-top: 80px;*/

    /* THIS WAS THE SOLUTION. This made the entire bottom of the page to be blue, and no white space was left below
    the footer.

    If I leave this at 54 vh, there won't be any white space below the footer, and all of the white text will
    be read. HOWEVER, I will have way too much blue empty space if I have a large screen (like a laptop screen). */
    /*height: 30vh;*/
	
	/* The color of the footer will be blueish. */
    background-color: #1642F2;
    color: white;

}

/* This makes the links on the footer's sitemap to remain white and prevents them from becoming blue when clicking
or hovering the mouse over the links. */
footer a:link {
    text-decoration: none;
    color: white;
}

footer a:visited {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: none;
    color: white;
}

footer a:active {
    text-decoration: none;
    color: white;
}       /* End of the CSS that makes the footer sitemap links to remain white. */

/* End of the code that modifies de color of the links in the footer's sitemap. */

/* This modifies the CSS of the copyright information in the footer. */
#copyright_1 {
    font-size: 12px;
    padding-top: 30px;
}
/* This turns the links at the bottom of the footer from blue to white. */
#copyright_1 a {
    color: white;
}


/* This is a class that makes images responsive. */
.responsive {
    /* This will make the image to become smaller if it has to, but it will never be wider than its original width.
    IT WORKED. */
    max-width: 100%;
    height: auto;
}

/* This class centers elements (like the portfolio's videos) on screens that are at least 576 px wide.
For some reason, it's working now.*/
@media screen and (min-width: 576px) {
    .center_1 {
        margin: auto;
        width: 50%;
    }
}

/* This will turn the link to the "privacy and legal" in the cookie consent banner into yellow if you hover the mouse
over it. It only works with "background color" (to highlight it). */
.cookie-container a:hover {
    background-color: yellow;
}

/* Blue lines above the 3 titles for the "contact us" page. */
.blue-line {
    background-color: #1642F2;
    height: 5px;
    width: 270px;
    margin: auto;
}

 /* This class will center the text and icons, regardless of screen size. */
.center_2 {
    text-align: center;
    margin: auto;

    /* If I leave it at 53%, "phone number" appears in a single line. At 50%, "phone number" appears in 2 lines. */
    width: 53%;
}

/* This will remove the underlines from the social media icons in "contact us".
Source: https://blog.hubspot.com/website/remove-underline-from-links-css */
.no-underline a:link {
    text-decoration: none;
}

.no-underline a:visited {
    text-decoration: none;
}

.no-underline a:hover {
    text-decoration: none;
}

.no-underline a:active {
    text-decoration: none;
}       /* End of the CSS that removes the underlines from the social media icons. */

/* This class adds horizontal padding to the "Contact Us" social media icons so that there's more space between them.
 The screen needs to be at least 433 px wide for this to take effect. */
@media screen and (min-width: 360px) {
    .icon-padding a {
        padding-left: 10px;
        padding-right: 10px;

        /* I will add some padding to the bottom so that the icons don't touch anything below them. IT'S NOT WORKING.*/
        /*padding-bottom: 10px;*/
    }
}

/* This will add the vertical paddings to the social media icons in the Contact Us pages so that there's enough
clear space so that we could use the Youtube icon by following Youtube's guidelines. */
@media screen and (min-width: 360px) {
    .icon-padding img {
        margin-bottom: 30px;
    }
}


/* This adds a horizontal padding to the social media icons on the footer.

The Youtube icon (according to Youtube's guidelines) should have enough padding so that there's enough space
so that there's nothing around the icon in a space equivalent to the size triangle inside of the icon
(see https://www.youtube.com/howyoutubeworks/resources/brand-resources/#logos-icons-and-colors 
for a better explanation). */
@media screen and (min-width: 433px) {
    .icon-padding-2 a {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* This will add top padding to the social media icons on iPad screens so that the Youtube icon has enough clearspace to follow 
Youtube's guidelines for us to use their icon.

I needed to put the "img" tag instead of "a" for me to be able to add padding bottom so that*/
@media screen and (min-width: 768px) {
    .icon-padding-2 img {
        margin-bottom: 30px;
    }
}

/* This will add enough horizontal space for the youtube icon in really small mobile screens.*/
@media screen and (min-width: 360px) {
    .icon-padding-2 a {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* This will align the iframes to the center of the screen on large screen sizes. I need to add this clas to the
 div that contains the iframes, not to the iframe tags themselves. IT WORKED. */
@media screen and (min-width: 802px) {
    .center_3 {
        margin: auto;
        width: 50%;
    }
}

/* This will add some padding to the bottom of the "Follow us on our Social Media" headline so that the Youtube icon
has enough clear space at the top of the icon to follow YouTube's guidelines so that we could use their icon. */
.social-media-headline {
    padding-bottom: 25px;
}

/* This will guarantee me that the copyright line will always have a blue background (which is giving us problems in 
iPhone 6 screens.)*/
.copyright-line {
    background-color: #1642F2;
}

